<!DOCTYPE html>
<html>
<head>
  <title>Break SEO Affiliate Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div id='wrap'>
	<header>
		<h1>This is the BreakSEO Affiliate Manager App Header!</h1>
		<p>All done in sexy HTML5 and even sexier Rails, don'cha know!</p>
	</header>
	
	<nav>
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Manage Affiliates", affiliates_path %></li>
		</ul>
	</nav>
	
	<div id='main'>
	<%= yield %>
	</div>
	
	<footer>
		<p>So far, so good with Rails!</p>
	</footer>
</div>

</body>
</html>
